<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealityVoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <RealityVoice.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="VoiceMode" serializeAs="String">
                <value>VoiceActivation</value>
            </setting>
        </RealityVoice.Properties.Settings>
    </userSettings>
</configuration>
